<form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
<mat-card>
    <mat-card-header class="header">
         <mat-card-title>Sign up here</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
        
        <mat-form-field  appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput placeholder="Ex. Mansi" formControlName="fname">
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Ex. Sharma" formControlName="lname">
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. xxx@yy.zz" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)">
            Please enter a valid email
        </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" matInput  placeholder="Password" formControlName="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       
        <mat-error *ngIf="signupForm.get('password').invalid  && signupForm.get('password').touched">
         Password must be atleast 5 digits long
        </mat-error>
        </mat-form-field>
   </mat-card-content>

<mat-card-actions>
    <button mat-raised-button color="gray" [disabled]="!signupForm.valid"  type="submit">
        <span>Sign Up</span>
    </button>
    <button mat-raised-button color="gray" routerLink="/login" class="login">
      <span class="login-btn">Existing user? Login here</span> 
    </button>
</mat-card-actions>
</mat-card>
</form>
