<div mat-dialog-content>
    <form [formGroup]="taskForm">
      <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input formControlName="taskName" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="To do">To do</mat-option>
          <mat-option value="In progress">In progress</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Additional description" formControlName="taskDescription"></textarea>
      </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'" >
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addTask()" [disabled]="!taskForm.valid">{{actionBtn}}</button>
</div>
